						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-sm-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	
	<script th:inline="javascript" type="text/javascript">
		
		  $(document).ready(function(){
			  
			  // tim kiếm sản phẩm button
			  $("#myInputSearch").on("keyup",function() {
					let value = $(this).val().toLowerCase();
					
					$("#dropdown-menu-product li").filter(function() {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});
						});
			 
		
			 // drop down danh sách sản phẩm
			  $("#dropdown-menu-product li").click(function() {
				  	let data = $(this).attr("data-value");
				  	console.log(data);
					let item = JSON.parse(data);
					
					$("#idProduct").val(item.id);
					$("#nameProduct").val(item.name);
					$("#typeProduct").val(item.type.name);
					$("#categoryProduct").val(item.category.name);
					
				});
			 

			 //format money
			  $("#totalPriceProduct").val(parseFloat($("#totalPriceProduct").attr("data-value")).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})); 

			  // thay doi so luong
			  $("#slProduct").on("change",function() {
				  let soluong = parseInt($(this).val());
				  $(this).val(soluong);
				  
				  let gia = parseInt($("#priceProduct").val());

				  $("#totalPriceProduct").attr("data-value",gia*soluong);
				  $("#totalPriceProduct").val(parseFloat($("#totalPriceProduct").attr("data-value")).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})); 
			  });

			  // thay doi gia san pham
			  $("#priceProduct").on("change",function() {
				  let gia = parseInt($(this).val());
				  $(this).val(gia);
				  
				  let soluong = parseInt($("#slProduct").val());
				  
				  $("#totalPriceProduct").attr("data-value",gia*soluong);
				  $("#totalPriceProduct").val(parseFloat($("#totalPriceProduct").attr("data-value")).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})); 
			  });

			  ///////////////////////// customers
			  
			  // tìm kiếm tên khách hàng
			  $("#myInputSearchCustomer").on("keyup",function() {
					let value = $(this).val().toLowerCase();
					$("#dropdown-menu-customer li").filter(function() {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});
			  });
			  
			  // click dropdown khách hàng
			  $("#dropdown-menu-customer li").click(function() {

					let item = JSON.parse($(this).attr("data-value"));
					//console.log(item);

					$('#idCustomer').val(item.Customer.id);
					$('#nameCustomer').val(item.Customer.name);
					$('#phoneCustomer').val(item.Customer.phone);
					$('#addressCustomer').val(item.Customer.address);
					
				});  
		  });
		
		  // valid input số lượng
		  function validInputSoLuong(){
			  $(".inputSl").on("keypress keyup",function (event) {    
		           $(this).val($(this).val().replace(/[^\d].+/, ""));
		            if ((event.which < 48 || event.which > 57)) {
		                event.preventDefault();
		            }
		        });
		  }
		  
		  //backspace for input
		  $('.inputSl').keydown(function(e) {
			    if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
			        $(this).prev('input').focus();
			    }
			}); 
		  

		 $("#formOrder").submit(function (event) {

		        //stop submit the form, we will post it manually.
		        event.preventDefault();

		        saveOrder();

		    });

		  function saveOrder() {

			  if( $("#idCustomer").val() && $("#nameCustomer").val() && $("#phoneCustomer").val() && $("#addressCustomer").val()){
				  
				  if( $("#idProduct").val() && $("#nameProduct").val() ){
					  
					  if( $("#priceProduct").val() && $("#priceProduct").val() >= 0){
						  
						  if( $("#slProduct").val() && $("#slProduct").val() > 0){
							  
							
							  let data={
									    id_customer:$("#idCustomer").val(),
										note : $("#noteCustomer").val(),
										id_product:$("#idProduct").val(),
										quantity:$("#slProduct").val(),
										price:$("#priceProduct").val() 
										
							  		};
							  $.ajax({
									type : "POST",
									contentType : "application/json",
									url : "/admin/goods_receipt_note/save",
									data :JSON.stringify(data),
									timeout : 100000,
									success : function(data) {
										console.log("SUCCESS: ", data);
										document.location.href="/admin/goods_receipt_note/add";
									},
									 error: function(xhr, status, error) {
										 console.log("ERROR: ", error);
										 alert("Lỗi " + error);
										 }
							 }); 
							  
						  }else{
							  alert("Hãy điền số lượng sản phẩm !");   
						  }
						  
					  }else{
						  alert("Hãy điền giá sản phẩm !");  
					  }
					  
				  }else{
					  alert("Hãy điền thông tin sản phẩm !");
				  }
			  } else{
				  alert("Hãy điền thông tin khách hàng !");
			  }
		  }
			 
		  
	</script>

</body>

</html>
