<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head">

<style>
/* Style the input field */
#myInput {
	padding: 20px;
	margin-top: -6px;
	border: 0;
	border-radius: 0;
	background: #f1f1f1;
}
</style>

</head>

<body>

	<div id="wrapper">

		<nav th:replace="admin/layout :: sidebar"></nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-header">Quản lý đơn hàng</h3>
				</div>
				<!-- /.col-sm-12 -->
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-heading">Form đơn hàng</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<form id= "formOrder">
								<div class="form-group">

									<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle" type="button"
											data-toggle="dropdown">
											Tìm khách hàng <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" id="dropdown-menu-customer"
											style="max-height: 400px; overflow: auto;">
											<input class="form-control" id="myInputSearchCustomer" type="text"
												placeholder="Tìm theo tên, sđt khách hàng...">
											<li class="item-dropdown"
												th:each="customer,iter : ${customers}"
												th:attr="data-value=${customer}" style="padding: 10px; cursor:pointer">
												<span th:text="${customer.name} +' - '+ ${customer.phone} +' - '+ ${customer.address}" th:remove="tag"></span>
											</li>

										</ul>

									</div>

								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<input
												type="hidden" class="form-control" id="idCustomer" style="color: green;"/> 
												
											<label>Họ tên<span class="required">*</span></label> 
											<input readonly
												type="text" class="form-control" id="nameCustomer" style="color: green;"/> 
												
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Số điện thoại<span class="required">*</span></label> <input   readonly
												type="text" class="form-control"  id="phoneCustomer" style="color: green;"/>
												
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Địa chỉ <span class="required">*</span></label>
											<textarea  style="color: green;" readonly
												id="addressCustomer" class="form-control" rows="2"></textarea>
											
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Ghi chú </label>
											<textarea
												id="noteCustomer" class="form-control" rows="2"></textarea>
											
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												<i class="fa fa-bell fa-fw"></i> Thêm sản phẩm
											</div>
											<!-- /.panel-heading -->
											<div class="panel-body">

												<div class="form-group">

													<div class="dropdown">
														<button class="btn btn-primary dropdown-toggle"
															type="button" data-toggle="dropdown">
															Thêm sản phẩm <span class="caret"></span>
														</button>
														<ul class="dropdown-menu" id="dropdown-menu-product"
															style="max-height: 400px; overflow: auto;">
															<input class="form-control" id="myInputSearch"
																type="text" placeholder="Tìm tên sản phẩm...">
															<li class="item-dropdown"
																th:each="product,iter : ${products}"
																th:attr="data-value=${product}" style="padding: 10px;cursor: pointer;">
																<span th:text="${product.name}" th:remove="tag"></span>
															</li>

														</ul>

													</div>

												</div>

													<table class="table table-bordered table-hover table-striped" width="100%" id="tableProducts">
															<thead>
																<tr>
																	<th width="10%">STT</th>
																	<th width="30%">Sản phẩm</th>
																	<th width="10%">Giá</th>
																	<th width="10%">Loại</th>
																	<th width="10%">Danh mục</th>
																	<th width="10%">Số lượng</th>
																	<th width="10%">Thành tiền</th>
																	<th width="10%">Tùy chọn</th>
																	<th width="10%">Mã Hidden</th>
																	<th width="10%">Giá Hidden</th>
																	<th width="10%">SL Hidden</th>
																</tr>
															</thead>
															
														</table>	
												
												<!-- /.table-responsive -->

												<div class="row">
													<div class="form-group" style=" float: right; margin-right: 170px;">
														<label style="margin-right: 20px;">Tổng tiền: </label>
														<span id="totalMoney" total-money="0"  >0</span>
														<input id="inputTotalMoney" type="hidden" class="form-control"  /> 
													</div>
												</div>

											</div>
											<!-- /.panel-body -->
										</div>
										<!-- /.panel -->
									</div>
									<!-- /.col-lg-8 -->
								</div>

								<button type="submit" class="btn btn-primary" id="submitOrder">
									<i class="fa fa-save"></i> Lưu
								</button>
							</form>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-sm-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	
	<script th:inline="javascript" type="text/javascript">
		
		  $(document).ready(function(){
			  
			  var tableProducts = $('#tableProducts').DataTable({
			         responsive: true
			     });

			  let tongsotienhang = 0;

			  tableProducts.columns([8,9,10]).visible(false);
				  
			  // tim kiếm sản phẩm button
			  $("#myInputSearch").on("keyup",function() {
					let value = $(this).val().toLowerCase();
					
					$("#dropdown-menu-product li").filter(function() {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});
						});
			 
		
			 // drop down danh sách sản phẩm
			  $("#dropdown-menu-product li").click(function() {
				  	let data = $(this).attr("data-value");
				  	//console.log(data);
					let item = JSON.parse(data);
					
					if(!checkItemExitsInTable(item.id)){
						
						let tongtien = parseFloat( 0).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
					
						tableProducts.row.add([
						              tableProducts.rows().count() + 1,
						              item.name,
						              `<input type="number" step="1" pattern="\d+" min="0" max="1000000000" placeholder="0" class="form-control inputPrice" value="${item.price}"/>`,
						              item.type.name,
						              item.category.name,
						              `<input type="number" step="1" pattern="\d+" min="0" max="1000000000" placeholder="0" class="form-control inputSl" value="0"/>`,
						              tongtien,				             
						              `<a class= "btnXoa" style="text-decoration: underline;cursor: pointer;"> Xóa </a>`,
						              item.id,  // id hidden
						              item.price, // price hidden
						              0, // sl hidden
						]).draw();  

					}
					
				});
			 
			  /* // xóa 1 row sản phẩm
			 tableProducts.on('click', "a.btnXoa", function(e) {
				  tableProducts.row( $(this).closest('tr') ).remove().draw();
		        });*/
			
			   // xóa 1 row sản phẩm
			  $('#tableProducts').on( 'click', '.btnXoa', function () {		
				  $(this).parent().parent().addClass('selected');
				   tableProducts.rows( '.selected' ).remove().draw();
		     });
			 
			
			 // change Sl sản phẩm
			 $('#tableProducts').on( 'change', 'input.inputSl', function () {		
				
				//console.log(tableProducts.rows().data());
				
		            // get object data in row
		            let tableRow = tableProducts.row($(this).closest('tr'));
		            let rowIndex = tableRow.index();
		         // get so luong in inputsl
		            let soluong = parseInt($(this).val());
		         	if(soluong <=0)
		         		soluong = 0;
		            $(this).val(soluong);
		            
		            let tongtien = parseFloat( soluong * tableRow.data()[9]).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
		            
				    let rData = [ 
				        tableRow.data()[0], // stt
				        tableRow.data()[1], // name
				        tableRow.data()[2], // price
				        tableRow.data()[3], //type
				        tableRow.data()[4], // category
				        `<input type="number" step="1" pattern="\d+" min="0" max="1000000000" placeholder="0" class="form-control inputSl" value=${soluong} />`, 
						tongtien, // thanh tien
						`<a class= "btnXoa" style="text-decoration: underline;cursor: pointer;"> Xóa </a>`,
						tableRow.data()[8], //id hidden
						tableRow.data()[9], //price hidden
						soluong, // Sl Hidden
				    ];
				        
				    tableProducts
				        .row( rowIndex )
			            .data(rData)
			            .draw();	

                    // tinh tong tien hang
                    tinhTongTienHang()
				    
		    }); 
			 
			 // change giá sản phẩm
			 $('#tableProducts').on( 'change', 'input.inputPrice', function () {		
				
				//console.log(tableProducts.rows().data());
				
		            // get object data in row
		            let tableRow = tableProducts.row($(this).closest('tr'));
		            let rowIndex = tableRow.index();
		         // get so luong in inputsl
		            let gia = parseInt($(this).val());
		         	if(gia <= 0)
		         		gia = 0;
		            $(this).val(gia);
		            
		            let tongtien = parseFloat( gia * tableRow.data()[10]).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})
		            
				    let rData = [ 
				        tableRow.data()[0], // stt
				        tableRow.data()[1], // name
				        `<input type="number" step="1" pattern="\d+" min="0" max="1000000000" placeholder="0" class="form-control inputPrice" value=${gia} />`,  // price
				        tableRow.data()[3], //type
				        tableRow.data()[4], // category
				        tableRow.data()[5],
				        tongtien, // thanh tien
						`<a class= "btnXoa" style="text-decoration: underline;cursor: pointer;"> Xóa </a>`,
						tableRow.data()[8], //id hidden
						gia, //price hidden
						tableRow.data()[10] // Sl Hidden
				    ];
				        
				    tableProducts
				        .row( rowIndex )
			            .data(rData)
			            .draw();


			          // tinh tong tien hang
			         tinhTongTienHang();
				    
		    }); 
			 

			  ///////////////////////// customers
			  
			  // tìm kiếm tên khách hàng
			  $("#myInputSearchCustomer").on("keyup",function() {
					let value = $(this).val().toLowerCase();
					$("#dropdown-menu-customer li").filter(function() {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});
			  });
			  
			  // click dropdown khách hàng
			  $("#dropdown-menu-customer li").click(function() {

					let item = JSON.parse($(this).attr("data-value"));
					//console.log(item);

					$('#idCustomer').val(item.Customer.id);
					$('#nameCustomer').val(item.Customer.name);
					$('#phoneCustomer').val(item.Customer.phone);
					$('#addressCustomer').val(item.Customer.address);
					
				});  
		  });

		   function tinhTongTienHang(){
		     tongsotienhang = 0;

		     if($('#tableProducts').DataTable().rows().count() > 0){
				 let dataTable = $('#tableProducts').DataTable().rows().data();
				 for(let i = 0; i< $('#tableProducts').DataTable().rows().count(); i++){
					 let soluong = dataTable[i][10];
					 if(soluong <=0){
		         		soluong = 0;
		         	 }

		         	 let giasp = dataTable[i][9];
		         	 if(giasp <=0){
		         		giasp = 0;
		         	 }

		         	 tongsotienhang = tongsotienhang + soluong * giasp;
		         	 $("#totalMoney").val(tongsotienhang);

				 }
			 }

		   }

		  // valid input số lượng
		  function validInputSoLuong(){
			 /* $(".inputSl").on("keypress keyup",function (event) {    
		           $(this).val($(this).val().replace(/[^\d].+/, ""));
		            if ((event.which < 48 || event.which > 57)) {
		                event.preventDefault();
		            }
		        }); */
		  }
		  
		  //backspace for input
		  $('.inputSl').keydown(function(e) {
			    if ((e.which == 8 || e.which == 46) && $(this).val() =='') {
			        $(this).prev('input').focus();
			    }
			}); 
		  
		  
		 $("#formOrder").submit(function (event) {

		        //stop submit the form, we will post it manually.
		        event.preventDefault();

		        saveOrder();

		    });
		 
		 // check item exits in table
		 //true ==> exits, false -> not exits
		 function checkItemExitsInTable(id){
			 if($('#tableProducts').DataTable().rows().count() > 0){
				 let dataTable = $('#tableProducts').DataTable().rows().data();
				 for(let i = 0; i< $('#tableProducts').DataTable().rows().count(); i++){
					 let idInTable = dataTable[i][8];
					 if(idInTable == id)
						 return true;
				 }
			 }
			 
			 return false;
			 
		 }

		  function saveOrder() {

				if($("#idCustomer").val() && $("#nameCustomer").val() && $("#phoneCustomer").val() && $("#addressCustomer").val()){
				    let dataTable = $('#tableProducts').DataTable().rows().data();
					//console.log(dataTable);
					let listProduct = [];
					if($('#tableProducts').DataTable().rows().count() > 0){
						for(let i = 0; i< $('#tableProducts').DataTable().rows().count(); i++){
							//console.log(dataTable[i][2]);
							listProduct.push({
								"id_product":dataTable[i][8],
								"soldPrice":dataTable[i][9],
								"quantity":dataTable[i][10]
							});
						}
					
					  	let data={
					  			idCustomer:$("#idCustomer").val(),
								note : $("#noteCustomer").val(),
								listProduct:listProduct
					  		};
						
						$.ajax({
							type : "POST",
							contentType : "application/json",
							url : "/admin/order/save",
							data :JSON.stringify(data),
							timeout : 100000,
							success : function(data) {
								console.log("SUCCESS: ", data);
								document.location.href="/admin/order";
							},
							 error: function(xhr, status, error) {
								 console.log("ERROR: ", error);
								 alert("Lỗi " + error);
								 }
						}); 
					}else{
						alert("Hãy chọn sản phẩm !");
					}
				}else{
					alert("Hãy chọn thông tin khách hàng !");
				}
			  
			}
		  
	
	</script>

</body>

</html>
